@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

.overflow-y-scroll {
    scrollbar-color: #5E5E5E transparent;
}